.root {
	margin: 1bh 0;
	padding: 0 1bh;
}

.heading {
	margin: 1bh 0;

	font-size: calc(var(--typographicScale.14) * 1px);
	line-height: 3bh;
	font-weight: 800;
}

.votesHeading {
	composes: sectionLevel1Heading from './Page.css';

	margin-top: -0.5bh;
}

.whiskies {
	margin: 2bh 0;
}

.whisky {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: -0.5bh;

	&:first-child {
		margin-top: 0;
	}

	&.isEmpty {
		p {
			margin: 0.5bh 0;
		
			font-size: calc(var(--typographicScale.9) * 1px);
			line-height: 1.5bh;
			font-weight: 400;
			font-family: var(--heading.fontFamily);
			font-feature-settings: var(--heading.fontFeatures);
		}
	}
}

.categoryItem {
	margin: 0.5bh 0;

	&.isEmpty {
		p {
			margin: 0.5bh 0;
		
			font-size: calc(var(--typographicScale.9) * 1px);
			line-height: 1.5bh;
			font-weight: 400;
			font-family: var(--heading.fontFamily);
			font-feature-settings: var(--heading.fontFeatures);
		}
	}
}

.categoryItemName {
	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);
}

.categoryItemDescription {
}

.categoryItemLinks {
	li {
		display: inline;

		font-size: calc(var(--typographicScale.4) * 1px);
		font-weight: 600;
		line-height: 1bh;
		
		&:after {
			content: '\\';
			margin: 0 0.375bh;

			color: var(--colors.primary1.base);
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}
}

.result {
	margin: 1bh 0;

	&:last-child {
		margin-bottom: -0.5bh;
	}
}

.resultHeader {
	display: flex;
	margin: 0 -1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		display: block;
	}
}

.resultHeading {
	composes: sectionLevel2Heading from './Page.css';
	margin: 0 auto 0 1bh;

	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);
}

.points {
	margin: 0 1bh;

	text-align: right;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		margin-top: 0.5bh;
		
		text-align: left;

		.pointsCount {
			margin-left: 0;
		}
	}
}

.resultHeadingLabel {
	composes: sectionLevel4Heading from './Page.css';
	margin: 0;
	display: block;

	font-size: calc(var(--typographicScale.2) * 1px);
}

.pointsCount {
	margin: 0.5bh 0 0.5bh 1bh;
	
	font-size: calc(var(--typographicScale.9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig', 'lnum', 'tnum';
}

.pointsCountLabel {
	composes: sectionLevel4Heading from './Page.css';
	margin-bottom: 0;

	font-size: calc(var(--typographicScale.2) * 1px);
}
