.root {
}

.columns {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	.users {
		float: left;
		margin: 0;
		padding: 0 1bh;
		width: calc(2 / 10 * 100%);
	}

	.whiskies {
		float: left;
		margin: 0 0 -0.5bh;
		padding: 0 1bh;
		width: calc(5 / 10 * 100%);
	}

	.categories {
		float: left;
		margin: 0;
		padding: 0 1bh;
		width: calc(3 / 10 * 100%);
	}

	.help {
		margin: 0 0 1bh;
		padding: 0 1bh;
		width: 100%;
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		display: block;

		.users {
			width: 100%;
		}

		.whiskies {
			width: 100%;
		}

		.categories {
			width: 100%;
		}
	}
}

.users {
	margin: 2bh 1bh;

	ul {
		li {
			margin: 0.5bh 0;
		}
	}
}

.whiskies {
	margin: 2bh 1bh -0.5bh;

	ul {
		li {
			margin: 0.5bh 0;
		}
	}
}

.categories {
	margin: 2bh 1bh;

	ul {
		li {
			margin: 0.5bh 0;
		}
	}
}

:global(.page-transition-enter) {
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}
:global(.page-transition-enter.page-transition-enter-active) {
	opacity: 1;
}
:global(.page-transition-leave) {
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}
:global(.page-transition-leave.page-transition-leave-active) {
	opacity: 0;
}


:global(.example-enter) {
	opacity: 0.01;
}

:global(.example-enter.example-enter-active) {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

:global(.example-leave) {
	opacity: 1;
}

:global(.example-leave.example-leave-active) {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

:global(.example-appear) {
	opacity: 0.01;
}

:global(.example-appear.example-appear-active) {
	opacity: 1;
	transition: opacity 1500ms ease-in;
}

.heading {
	composes: sectionLevel1Heading from './Page.css';

	a:before {
		top: calc(-2 / 8 * 1bh);
		left: calc(-1 / 4 * 1bh);
		right: calc(-1 / 4 * 1bh);
		bottom: calc(-1 / 8 * 1bh);
	}
}

.whiskyLabels {
	column-count: 2;
	column-gap: 2bh;
	column-fill: balance;
	margin: 0.5bh 0;

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		column-count: auto;
		column-gap: 0;
	}
}

.whiskyLabel {
	display: block;
	position: relative;
	padding-left: 1.5bh;

	font-size: calc(var(--typographicScale.8) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);

	&.islay:before, &.islay:after,
	&.islands:before, &.islands:after,
	&.highlands:before, &.highlands:after,
	&.lowlands:before, &.lowlands:after,
	&.speyside:before, &.speyside:after,
	&.campbeltown:before, &.campbeltown:after,
	&:before, &:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 1bh;
		height: 1bh;
		visibility: visible;
		opacity: 1;
		right: auto;
		bottom: auto;

		border-radius: 50%;
		background-color: #eee;
		transition: none;
		border: 0 none;
		transform: translateX(0) translateY(0.25bh);
	}

	&.islay:after,
	&.islands:after,
	&.highlands:after,
	&.lowlands:after,
	&.speyside:after,
	&.campbeltown:after,
	&:after {
		width: 15px;
		height: 15px;

		background-color: transparent;
		border: 4px solid #fff;
		transform: translateX(6.5px) translateY(13.5px);
	}

	&.islay.isSingleMalt:after,
	&.islands.isSingleMalt:after,
	&.highlands.isSingleMalt:after,
	&.lowlands.isSingleMalt:after,
	&.speyside.isSingleMalt:after,
	&.campbeltown.isSingleMalt:after,
	&.isSingleMalt:after {
		width: 12px;
		height: 12px;

		background-color: #fff;
		border: 0 none;
		transform: translateX(8px) translateY(15px);
	}

	&.islay:before {
		background-color: var(--colors.islay.2);
	}

	&.islay:after {
		border-color: var(--colors.islay.1);
	}

	&.islay.isSingleMalt:after {
		background-color: var(--colors.islay.1);
	}

	&.islands:before {
		background-color: var(--colors.islands.2);
	}

	&.islands:after {
		border-color: var(--colors.islands.1);
	}

	&.islands.isSingleMalt:after {
		background-color: var(--colors.islands.1);
	}

	&.highlands:before {
		background-color: var(--colors.highlands.2);
	}

	&.highlands:after {
		border-color: var(--colors.highlands.1);
	}

	&.highlands.isSingleMalt:after {
		background-color: var(--colors.highlands.1);
	}

	&.lowlands:before {
		background-color: var(--colors.lowlands.2);
	}

	&.lowlands:after {
		border-color: var(--colors.lowlands.1);
	}

	&.lowlands.isSingleMalt:after {
		background-color: var(--colors.lowlands.1);
	}

	&.speyside:before {
		background-color: var(--colors.speyside.2);
	}

	&.speyside:after {
		border-color: var(--colors.speyside.1);
	}

	&.speyside.isSingleMalt:after {
		background-color: var(--colors.speyside.1);
	}

	&.campbeltown:before {
		background-color: var(--colors.campbeltown.2);
	}

	&.campbeltown:after {
		border-color: var(--colors.campbeltown.1);
	}

	&.campbeltown.isSingleMalt:after {
		background-color: var(--colors.campbeltown.1);
	}
}
